<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lyl.mvptest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:appComponentFactory=""
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".mvp.secondfragment.particle.ParticleExplosionActivity"></activity>
        <activity android:name=".mvp.secondfragment.loading.LoadingActivity" />
        <activity android:name=".mvp.secondfragment.huanfu.HuanfuActivity3" />
        <activity android:name=".mvp.secondfragment.huanfu.HuanfuActivity2" />
        <activity android:name=".mvp.secondfragment.huanfu.HuanfuActivity1" />
        <activity
            android:name=".mvp.secondfragment.heart_tree.HeartTreeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".mvp.secondfragment.tree.TreeActivity" />
        <activity android:name=".mvp.secondfragment.eventbus.EventBusActivity2" />
        <activity android:name=".mvp.secondfragment.eventbus.EventBusActivity" />
        <activity android:name=".mvp.secondfragment.live_data_bus.AAAActivity" />
        <activity android:name=".mvp.secondfragment.live_data_bus.LiveEventBusActivity2" />
        <activity android:name=".mvp.secondfragment.live_data_bus.LiveEventBusActivity1" />
        <activity android:name=".mvp.secondfragment.jetpack_0701_test.JetPackActivity" />
        <activity android:name=".mvp.secondfragment.recycleview.RecycleViewActivity" />
        <activity android:name=".mvp.secondfragment.textclock_view.TextClockViewActivity" />
        <activity android:name=".mvp.secondfragment.radar_view.RadarViewActivity" />
        <activity android:name=".mvp.secondfragment.suefaceview.DrawActivity" />
        <activity android:name=".mvp.secondfragment.cv.CvActivity" />
        <activity android:name=".mvp.secondfragment.animation.AnimationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.movie.MovieDetailActivity" />

        <receiver android:name=".mvp.secondfragment.appWidgetProvider.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />

            <intent-filter>
                <action android:name="com.ryg.chapter_5.action.CLICK" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>