<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyl.secondtheory">


    <application>
        <activity android:name=".eventbus.simple.EventBusActivity2" />
        <activity android:name=".eventbus.simple.EventBusActivity" />
    </application>
</manifest>